<template>
  <div id="orders--list">
    <v-list dense>
      <v-list-item-group color="error">
        <v-list-item
          v-for="(item, i) in transactions"
          :key="i"
          @click="openSummary(item)"
        >
          <v-list-item-icon>
            <span class="font-weight-bold">Order #{{ i + 1 }}</span>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              <span class="body-2">{{
                $moment(item.created_at).format("MMM DD, YYYY, @ hh:mmA")
              }}</span>
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon color="error" v-text="`mdi-forward`"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-item-group>
      <v-content v-show="!transactions.length" class="text-center">
        <v-icon color="error" size="200">
          mdi-delete-empty
        </v-icon>
        <br />
        <span class="error--text font-weight-bold overline">Empty Record</span>
      </v-content>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "History",
  props: ["transactions"],
  methods: {
    openSummary(item) {
      this.$bus.$emit("openSummary", item);
    }
  }
};
</script>

<style scoped>
#orders--list {
  height: 370px;
  overflow-y: auto;
}
</style>
