<template>
  <div id="orders--list" class="py-0 my-0">
    <v-list>
      <Order
        v-for="order in selectedHistory.orders"
        :key="order.id"
        :history="true"
        :order="order"
      />
    </v-list>
    <OrderSummary :history="true" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import Order from "~/components/sidebar/Order";
import OrderSummary from "~/components/sidebar/Summary";

export default {
  name: "Summary",
  components: {
    Order,
    OrderSummary
  },
  computed: {
    ...mapGetters({
      selectedHistory: "app/selectedHistory"
    })
  }
};
</script>

<style scoped>
#orders--list {
  height: 370px;
  overflow-y: auto;
}
</style>
