<template>
  <v-list-item>
    <v-list-item-content>
      <v-text-field
        ref="coupon"
        v-model="coupon"
        :loading="loading"
        :readonly="loading || applied"
        color="error"
        placeholder="Enter Coupon Code..."
      ></v-text-field>
    </v-list-item-content>
    <v-list-item-icon>
      <v-btn
        large
        outlined
        color="error"
        :loading="loading"
        :disabled="loading || applied"
        @click="applyCoupon"
        >{{ applied ? "Applied" : "Apply" }}</v-btn
      >
    </v-list-item-icon>
  </v-list-item>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Coupon",
  data: () => ({
    loading: false,
    applied: false,
    coupon: ""
  }),
  computed: {
    ...mapGetters({
      orders: "app/orders",
      discountPercentage: "app/discountPercentage"
    })
  },
  watch: {
    orders(value) {
      if (!value.length) {
        this.coupon = "";
        this.applied = false;
        this.loading = false;
      }
    }
  },
  methods: {
    ...mapActions({
      setDiscountPercentage: "app/setDiscountPercentage"
    }),
    async applyCoupon() {
      if (this.coupon == "") {
        this.$toast.global._error("Enter a valid Coupon Code.");
        this.$refs.coupon.focus();
        return;
      }
      this.loading = true;
      try {
        const response = await this.$api.coupons.validate({
          code: this.coupon
        });
        const discount = response.data.discount;
        this.$bus.$emit("attachCouponID", response.data);
        this.$toast.global._success(
          `Successfully applied a ${discount}% discount!`
        );
        this.setDiscountPercentage(discount);
        this.loading = false;
        this.applied = true;
      } catch (error) {
        this.loading = false;
        this.coupon = "";
        this.$refs.coupon.focus();
        this.$toast.global._error("Invalid Coupon Code");
      }
    }
  }
};
</script>
