<template>
  <v-list-item>
    <v-list-item-content>
      <div>
        <span :class="[{ 'font-weight-bold': type == 'total' }]">{{
          title
        }}</span>
        <slot> </slot>
      </div>
    </v-list-item-content>
    <v-list-item-icon>
      <span
        class="body-1 error--text darken-3"
        :class="[{ 'font-weight-bold': type == 'total' }]"
        >&#8369;
        <span v-show="type == 'discount'">-</span>
        {{ numberFormat(amount) }}</span
      >
    </v-list-item-icon>
  </v-list-item>
</template>

<script>
const numeral = require("numeral");
export default {
  name: "ListItem",
  props: {
    title: {
      type: String,
      default: ""
    },
    amount: {
      type: [Number, String],
      default: 0
    },
    type: {
      type: String,
      default: ""
    }
  },
  methods: {
    numberFormat(amount) {
      return numeral(amount).format("0,0.00");
    }
  }
};
</script>
