<template>
  <v-list-item>
    <v-list-item-avatar tile size="80">
      <v-img :src="meal.image">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              size="40"
              color="error"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-list-item-avatar>

    <v-list-item-content>
      <v-list-item-title>
        <span class="subtitle-1 font-weight-bold">
          {{ meal.name }}
        </span>
        <small class="caption grey--text"
          >({{ showProducts(meal.products) }})</small
        >
      </v-list-item-title>
      <v-list-item-subtitle>
        <v-btn
          v-show="!history"
          icon
          small
          color="error"
          @click="minusToOrders(meal)"
        >
          <v-icon>mdi-minus</v-icon>
        </v-btn>
        <v-btn
          v-show="!history"
          icon
          small
          color="error"
          @click="addToOrders(meal)"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>

        <v-chip color="white">
          <span class="body-1 mr-1">{{ meal.quantity }}</span>
          <span class="overline ml-3">x {{ meal.price }}</span>
        </v-chip>
      </v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-icon>
      <span class="body-1 error--text darken-3"
        >&#8369; {{ numberFormat(meal.price, meal.quantity) }}</span
      >
    </v-list-item-icon>
  </v-list-item>
</template>

<script>
const numeral = require("numeral");
import { mapGetters } from "vuex";

export default {
  name: "Order",
  props: {
    order: {
      type: Object,
      default: null
    },
    history: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      orders: "app/orders"
    }),
    meal() {
      if (this.history === true) {
        return this.order;
      }
      return this.orders.find(data => data.id === this.order.id);
    }
  },
  methods: {
    addToOrders(item) {
      this.$bus.$emit("addOrder", item);
    },
    minusToOrders(item) {
      this.$bus.$emit("minusOrder", item);
    },
    numberFormat(price, quantity) {
      return numeral(Number(price * quantity)).format("0,0.00");
    },
    showProducts(products) {
      return products.map(data => data.name).join(",");
    }
  }
};
</script>
