<template>
  <div>
    <v-card v-if="!orders.length" class="mx-2 my-3">
      <v-card-title>
        <span class="mx-auto title">No orders yet?</span>
      </v-card-title>
    </v-card>

    <v-list v-else>
      <transition-group name="list">
        <Order v-for="order in orders" :key="order.id" :order="order" />
      </transition-group>
    </v-list>
    <Summary />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Order from "~/components/sidebar/Order";
import Summary from "~/components/sidebar/Summary";

export default {
  name: "Orders",
  components: {
    Order,
    Summary
  },
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapGetters({
      orders: "app/orders"
    })
  },
  mounted() {
    this.$bus.$on("addOrder", data => this.addOrder(data));
    this.$bus.$on("minusOrder", data => this.minusOrder(data));
  },
  methods: {
    ...mapActions({
      setOrders: "app/setOrders"
    }),
    addOrder(item) {
      const meal = this.orders.find(data => data.id === item.id);
      if (!meal) {
        item.quantity = 1;
        this.orders.push(item);
      } else {
        const key = this.orders.indexOf(item);
        this.orders[key].quantity++;
        this.orders.splice(key, 1, this.orders[key]);
      }
    },
    minusOrder(item) {
      const meal = this.orders.find(data => data.id === item.id);
      if (meal.quantity === 1) {
        const key = this.orders.indexOf(item);
        this.orders.splice(key, 1);
      } else {
        const key = this.orders.indexOf(item);
        this.orders[key].quantity--;
        this.orders.splice(key, 1, this.orders[key]);
      }
    }
  }
};
</script>

<style scoped>
.list-item {
  display: block;
}
.list-enter-active {
  transition: all 1s;
}
.list-enter {
  opacity: 0;
  transform: translateY(30px);
}

.list-leave-to {
  transition: all 0.5s;
}
.list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}
</style>
