<template>
  <v-list-item>
    <v-list-item-content>
      <span class="overline ml-6">{{ title }}</span>
    </v-list-item-content>
    <v-list-item-icon>
      <span class="overline grey--text darken-3">
        &#8369; {{ numberFormat(amount) }}
      </span>
    </v-list-item-icon>
  </v-list-item>
</template>

<script>
const numeral = require("numeral");

export default {
  name: "SubListItem",
  props: {
    title: {
      type: String,
      default: ""
    },
    amount: {
      type: [Number, String],
      default: 0
    }
  },
  methods: {
    numberFormat(amount) {
      return numeral(Number(amount)).format("0,0.00");
    }
  }
};
</script>
