<template>
  <v-card class="mx-2 px-1" outlined>
    <v-list dense>
      <ListItem :amount="subtotal" title="Subtotal" />
      <SubListItem :amount="net" title="Sales, Net of VAT" />
      <SubListItem :amount="tax" title="Less: VAT" />
      <ListItem :amount="discount" title="Discount" type="discount">
        <span
          v-if="!couponCode"
          v-show="
            ((orders.length && !showApplyCoupon) || !showApplyCoupon) &&
              history === false
          "
          class="overline ml-2 error--text coupon--text"
          @click="applyCoupon"
          >Apply Coupon</span
        >
        <span v-else class="overline ml-2">
          (<span class="font-weight-bold">{{ discountPercentage }}%</span>)
          <span class=" error--text font-weight-bold">{{ couponCode }}</span>
        </span>
      </ListItem>

      <v-slide-y-transition>
        <Coupon v-show="showApplyCoupon" />
      </v-slide-y-transition>

      <v-divider />
      <br />
      <ListItem :amount="totalAmount" type="total" title="Total Amount" />
    </v-list>
    <v-card-actions>
      <v-btn
        v-show="history === false"
        :disabled="!orders.length || loading || !$auth.$state.loggedIn"
        large
        :loading="loading"
        block
        color="error"
        @click="checkoutOrders"
        >Checkout</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Coupon from "~/components/sidebar/Coupon";
import ListItem from "~/components/sidebar/ListItem";
import SubListItem from "~/components/sidebar/SubListItem";

export default {
  name: "Summary",
  components: {
    Coupon,
    ListItem,
    SubListItem
  },
  props: {
    history: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    taxPercentage: 0,
    showApplyCoupon: false,
    checkout: {},
    loading: false,
    couponCode: ""
  }),
  computed: {
    ...mapGetters({
      getOrders: "app/orders",
      selectedHistory: "app/selectedHistory",
      discountPercentage: "app/discountPercentage"
    }),
    orders() {
      return this.history ? this.selectedHistory.orders : this.getOrders;
    },
    subtotal() {
      return this.orders.reduce(
        (total, item) => total + item.price * item.quantity,
        0
      );
    },
    tax() {
      return Number(this.subtotal * this.taxPercentage) / 100;
    },
    net() {
      return this.subtotal - this.tax;
    },
    totalAmount() {
      const subtotal = this.subtotal;
      const discount = this.discount;
      return subtotal - discount;
    },
    discount() {
      return Number(this.subtotal * this.discountPercentage) / 100;
    }
  },
  watch: {
    orders(value) {
      if (!value.length && this.history === false) {
        this.resetDiscount();
      }
    },
    selectedHistory(value) {
      if (!value.length && this.history === true) {
        this.setOrderHistoryDetail();
      }
    }
  },
  mounted() {
    if (this.history) {
      this.setOrderHistoryDetail();
    } else {
      this.$api.taxes.active().then(response => {
        this.checkout.tax_id = response.data.id;
        this.taxPercentage = response.data.percentage;
      });
    }
    this.$bus.$on("attachCouponID", data => this.attachCouponID(data));
  },
  methods: {
    ...mapActions({
      setDiscountPercentage: "app/setDiscountPercentage"
    }),
    setOrderHistoryDetail() {
      this.checkout.tax_id = this.selectedHistory.tax_id;
      this.taxPercentage = this.selectedHistory.tax.percentage;
      this.couponCode = this.selectedHistory.coupon
        ? this.selectedHistory.coupon.code
        : "";
      const discount = this.selectedHistory.coupon
        ? this.selectedHistory.coupon.discount
        : 0;
      this.setDiscountPercentage(discount);
    },
    resetDiscount() {
      this.checkout.coupon_id = 0;
      this.showApplyCoupon = false;
      this.setDiscountPercentage(0);
    },
    applyCoupon() {
      this.showApplyCoupon = !this.showApplyCoupon;
    },
    attachCouponID(data) {
      this.checkout.coupon_id = data.id;
    },
    async checkoutOrders() {
      this.checkout.total_amount = Number(this.totalAmount).toFixed(2);
      this.checkout.status_id = 1;
      this.checkout.orders = this.orders.map(data => data.id);
      this.checkout._orders = this.orders;
      if (this.checkout.coupon_id == undefined) {
        this.checkout.coupon_id = 0;
      }
      const response = await this.$dialog.confirm({
        text:
          "Please review your <b>Order Summary</b>.<br />Orders will be <b>Cleared</b> right after successfull checkout.<br /><br />Do you wish to continue?",
        title: "Confirmation Message",
        type: "warning",
        persistent: true
      });

      if (!response) {
        return;
      }

      this.loading = true;
      try {
        console.log(this.checkout);
        await this.$api.transactions.store(this.checkout);
        this.loading = false;
        this.$toast.global._success(`Order(s) has been successfully saved!`);
        this.$store.commit("app/RESET_ORDERS", []);
        this.resetDiscount();
      } catch (error) {
        this.loading = false;
        this.$toast.global._error(error);
      }
    }
  }
};
</script>

<style scoped>
.coupon--text {
  cursor: pointer;
}
.coupon--text:hover {
  text-decoration: underline;
}
</style>
