<template>
  <v-hover v-slot:default="{ hover }">
    <v-card class="mx-auto" max-width="400">
      <v-img
        class="white--text align-end"
        :aspect-ratio="16 / 9"
        height="270px"
        :src="meal.image"
      >
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              size="84"
              color="error"
            ></v-progress-circular>
          </v-row>
        </template>
        <v-expand-transition>
          <div
            v-if="hover"
            class="d-flex transition-fast-in-fast-out error v-card--reveal"
            style="height: 100%;"
          >
            <v-btn
              outlined
              x-large
              fab
              color="white"
              @click="addToOrders(meal)"
            >
              <v-icon x-large>mdi-plus-thick</v-icon>
            </v-btn>
          </div>
        </v-expand-transition>
      </v-img>

      <v-card-text class="text--primary">
        <v-row no-gutters>
          <v-col cols="7">
            <span class="title font-weight-bold">{{ meal.name }}</span>
          </v-col>

          <v-col cols="5" class="text-right">
            <span class="subtitle-1 error--text font-weight-bold">
              <v-chip color="error" text-color="white">
                <v-avatar left>
                  <v-icon>mdi-cash</v-icon>
                </v-avatar>
                &#8369; {{ meal.price }}
              </v-chip>
            </span>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Meal",
  props: ["meal"],
  computed: {
    ...mapGetters({
      drawer: "app/drawer"
    })
  },
  methods: {
    ...mapActions({
      setDrawer: "app/setDrawer"
    }),
    addToOrders(item) {
      if (!this.drawer) {
        this.setDrawer(true);
      }
      this.$bus.$emit("addOrder", item);
    }
  }
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
</style>
