<template>
  <div class="pt-0 pb-5 mt-3">
    <span class="headline error--text darken-4 font-weight-bold">
      <v-icon x-large>{{ showIcon(category.id) }}</v-icon>
      {{ category.name }}
    </span>
    <v-row>
      <v-col
        v-for="meal in category.meals"
        :key="meal.id"
        :cols="$vuetify.breakpoint.xsOnly ? 12 : 4"
      >
        <Meal :meal="meal" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Meal from "~/components/categories/meals/Meal";

export default {
  name: "Category",
  components: {
    Meal
  },
  props: ["category"],
  methods: {
    showIcon(id) {
      let icon = "";
      switch (id) {
        case 1:
          icon = "mdi-hamburger";
          break;
        case 2:
          icon = "mdi-glass-mug-variant";
          break;
        case 3:
          icon = "mdi-rice";
          break;
      }
      return icon;
    }
  }
};
</script>
