// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Nunito Sans";
$heading-font-family: "Nunito Sans";
// $font-size-root: 18px;
@import "~vuetify/src/styles/styles.sass";
