<template>
  <v-container fluid class="fill-height">
    <v-row justify="center" align="center">
      <v-col class="text-center">
        <h3 class="display-3 red--text text--darken-4">PAGE NOT FOUND</h3>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "dashboard"
};
</script>
