<template>
  <v-app>
    <Header />
    <v-fade-transition mode="out-in">
      <nuxt />
    </v-fade-transition>
    <Drawer />
    <Footer />
  </v-app>
</template>

<script>
import Header from "~/components/core/Header";
import Footer from "~/components/core/Footer";
import Drawer from "~/components/core/Drawer";

export default {
  components: {
    Header,
    Footer,
    Drawer
  }
};
</script>

<style>
.vuetoasted__customized {
  font-family: "Nunito Sans" !important;
}
.toasted.bubble.error {
  background: #bf0a30 !important;
}
.toasted.bubble.success {
  background: #55ae3a !important;
}
.toasted.bubble.info {
  background: #002868 !important;
}
</style>
