<template>
  <v-dialog
    v-model="login"
    persistent
    max-width="350"
    transition="scroll-y-reverse-transition"
  >
    <v-card :loading="loading">
      <v-sheet color="error" tile>
        <v-slide-y-transition>
          <v-img
            height="100"
            max-width="340"
            contain
            src="/logo.png"
            transition="fade-transition"
          >
          </v-img>
        </v-slide-y-transition>
      </v-sheet>
      <v-divider></v-divider>
      <v-card-text class="mt-8"
        ><v-form ref="form">
          <v-text-field
            v-model="email"
            color="primary"
            type="text"
            :rules="emailRules"
            prepend-inner-icon="mdi-account"
            label="Email Address"
            @keyup.enter="validate"
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show ? 'visibility' : 'visibility_off'"
            color="primary"
            :rules="passwordRules"
            :type="show ? 'text' : 'password'"
            prepend-inner-icon="mdi-lock"
            label="Password"
            @click:append="show = !show"
            @keyup.enter="validate"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          block
          large
          color="error"
          :disabled="loading !== false"
          :loading="loading !== false"
          @click.prevent="validate"
        >
          Login<v-icon right>mdi-login-variant</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    loading: false,
    email: "",
    emailRules: [
      v => !!v || "Email is required",
      v => /.+@.+/.test(v) || "Email must be valid"
    ],
    show: false,
    password: "",
    passwordRules: [v => !!v || "Password is required"]
  }),
  computed: {
    ...mapGetters({
      login: "app/loginModal"
    })
  },
  methods: {
    ...mapActions({
      setLoginModal: "app/setLoginModal"
    }),
    reset() {
      this.loading = false;
      this.email = "";
      this.password = "";
      this.$refs.form.reset();
    },
    async validate() {
      if (this.$refs.form.validate() === false) {
        return;
      }
      this.$toast.show("Logging in...");
      this.loading = "error";

      const data = {
        email: this.email,
        password: this.password,
        client_id: process.env.CLIENT_ID,
        client_secret: process.env.CLIENT_SECRET
      };

      try {
        await this.$auth.loginWith("local", {
          data: data
        });
        this.$toast.global._success("Successfully Authenticated!");
        this.reset();
        this.setLoginModal(false);
      } catch (error) {
        this.loading = false;
        this.$toast.global._error("Invalid Credentials.");
      }
    }
  }
};
</script>
