<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="430">
      <v-card>
        <v-tabs v-model="tab" background-color="error" grow dark icons-and-text>
          <v-tab
            v-for="component in components"
            :key="component.name"
            :href="`#${component.name}`"
            class="body-2 font-weight-bold"
            :disabled="component.name == 'Summary' && selected == false"
          >
            {{ component.name }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            v-for="component in components"
            :key="component.name"
            :value="`${component.name}`"
          >
            <v-card flat min-height="400px">
              <v-card-text>
                <component :is="component.name" :transactions="transactions" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>

        <v-card-actions>
          <v-spacer />
          <v-btn
            text
            large
            class="font-weight-bold"
            color="error"
            @click="dialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Summary from "~/components/tabs/Summary";
import History from "~/components/tabs/History";

export default {
  name: "Orders",
  components: {
    Summary,
    History
  },
  data: () => ({
    tab: null,
    selected: false,
    dialog: false,
    transactions: [],
    components: [{ name: "History" }, { name: "Summary" }]
  }),
  computed: {
    ...mapGetters({
      selectedHistory: "app/selectedHistory"
    })
  },
  watch: {
    dialog(value) {
      if (value === true) {
        this.fetchOrderHistory();
      } else {
        this.resetList();
      }
    }
  },
  mounted() {
    this.$bus.$on("toggleOrderModal", () => {
      this.dialog = true;
    });
    this.$bus.$on("openSummary", order => {
      this.fetchOrderSummary(order);
    });
  },
  methods: {
    ...mapActions({
      setSelectedHistory: "app/setSelectedHistory"
    }),
    resetList() {
      //this.setSelectedHistory([]);
      this.selected = false;
      this.tab = "History";
    },
    async fetchOrderSummary(order) {
      this.setSelectedHistory(order);
      this.selected = true;
      this.tab = "Summary";
    },
    async fetchOrderHistory() {
      try {
        const response = await this.$api.users.user();
        this.transactions = response.data.transactions;
      } catch (error) {
        this.$toast.global._error(error);
      }
    }
  }
};
</script>
