<template>
  <v-container class="mt-12 mb-6">
    <br v-show="!$vuetify.breakpoint.xsOnly" />
    <Category
      v-for="category in categories"
      :key="category.id"
      :category="category"
      class="mb-2"
    />
    <DialMenu />
    <Login />
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Category from "~/components/categories/Category";
import Login from "~/components/modal/Login";
import DialMenu from "~/components/core/DialMenu";

export default {
  layout: "default",
  components: {
    Category,
    Login,
    DialMenu
  },
  data: () => ({
    categories: []
  }),
  computed: {
    ...mapGetters({
      login: "app/loginModal"
    })
  },
  mounted() {
    this.$api.categories
      .index()
      .then(response => {
        this.categories = response.data;
      })
      .catch(error => {
        this.$toast.global._error(error);
      });
    // show loggin if not authenticated
    if (this.$auth.$state.loggedIn === false) {
      this.setLoginModal(true);
    }
  },
  methods: {
    ...mapActions({
      setLoginModal: "app/setLoginModal"
    })
  }
};
</script>
