<template>
  <div>
    <v-slide-y-reverse-transition>
      <v-speed-dial
        v-show="$auth.$state.loggedIn"
        v-model="fab"
        bottom="bottom"
        left="left"
        direction="right"
        fixed
        absolute
        transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <v-btn v-model="fab" x-large color="error" dark fab>
            <v-icon v-if="fab" large>mdi-close</v-icon>
            <v-icon v-else large>mdi-account</v-icon>
          </v-btn>
        </template>
        <!-- <v-btn dark large color="error darken-1" @click="profile">
          <v-icon left>mdi-account-circle-outline</v-icon>
          <span>Profile</span>
        </v-btn> -->
        <v-btn dark large color="error darken-1" @click="orders">
          <v-icon left>mdi-folder-multiple-outline</v-icon>
          <span>Orders</span>
        </v-btn>
      </v-speed-dial>
    </v-slide-y-reverse-transition>
    <!-- Order Modal -->
    <Orders />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Orders from "~/components/modal/Orders";

export default {
  name: "DialMenu",
  components: {
    Orders
  },
  data: () => ({
    fab: false
  }),
  computed: {
    user() {
      return this.$auth.$state.user;
    }
  },
  methods: {
    ...mapActions({
      setDrawer: "app/setDrawer"
    }),
    profile() {
      this.$toast.global._success(`Hey ${this.user.name}, notice me please!`);
    },
    orders() {
      this.setDrawer(false);
      this.$bus.$emit("toggleOrderModal");
    }
  }
};
</script>
