<template>
  <v-navigation-drawer
    v-model="orderDrawer"
    right
    app
    light
    clipped
    mobile-break-point="991"
    :width="isMobile ? '100vw' : '400px'"
  >
    <v-app-bar v-show="isMobile" color="error" dark>
      <v-btn icon class="ml-2" @click="setDrawer(false)">
        <v-icon large>mdi-forwardburger</v-icon>
      </v-btn>
      <v-toolbar-title class="font-weight-bold">
        <span>Order Summary</span>
      </v-toolbar-title>
      <v-spacer />
      <v-divider vertical />
      <v-btn class="font-weight-bold" text @click="logout">
        <v-icon right large>mdi-logout-variant</v-icon>
      </v-btn>
    </v-app-bar>

    <Orders />

    <template v-slot:append>
      <v-content v-show="!isMobile" class="pa-2">
        <v-btn color="error" outlined large block @click="logout">
          Logout<v-icon right>mdi-logout-variant</v-icon>
        </v-btn>
      </v-content>
    </template>
  </v-navigation-drawer>
</template>

<script>
import Orders from "~/components/sidebar/Orders";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "Drawer",
  components: {
    Orders
  },
  data() {
    return {
      logo: "/logo.png",
      responsive: true,
      loading: false
    };
  },
  computed: {
    ...mapGetters({
      drawer: "app/drawer",
      menu: "app/menu"
    }),
    isMobile() {
      return this.$vuetify.breakpoint.xsOnly;
    },
    orderDrawer: {
      get() {
        return this.drawer;
      },
      set(val) {
        this.setDrawer(val);
      }
    }
  },
  mounted() {
    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  },
  methods: {
    ...mapActions({
      setDrawer: "app/setDrawer",
      setLoginModal: "app/setLoginModal",
      setOrders: "app/setOrders"
    }),

    async logout() {
      const response = await this.$dialog.confirm({
        text: "Do you really want to <b>LOGOUT</b>?",
        title: "Confirmation Message",
        type: "warning",
        persistent: true
      });
      if (response) {
        this.$toast.show("Logging out...");
        this.loading = true;
        this.$auth.logout();
        this.setDrawer(false);
        this.$store.commit("app/RESET_ORDERS", []);
        setTimeout(() => {
          this.setLoginModal(true);
        }, 1000);
        this.$toast.global._success("Successfully Logged out!");
      }
    },

    onResponsiveInverted() {
      this.responsive = window.innerWidth < 991;
    }
  }
};
</script>
