<template>
  <v-footer id="core-footer" height="50" fixed absolute>
    <div class="footer--line"></div>
    <v-row no-gutters>
      <v-col cols="12"> </v-col>
      <v-col class="text-center" cols="12">
        <span class="caption error--text font-weight-bold">
          {{ title }} &copy;
          {{ new Date().getFullYear() }}
        </span>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    title: process.env.APP_TITLE
  })
};
</script>

<style>
#core-footer {
  z-index: 0;
}
.footer--line {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 5px;
  margin-left: -16px;
  background-image: linear-gradient(to right, #bf0a30, #f1f1f1);
}
</style>
