<template>
  <v-app-bar clipped-right app color="error" dark>
    <v-btn
      v-show="$vuetify.breakpoint.xsOnly"
      icon
      class="ml-2"
      @click.stop="toggleDrawer"
    >
      <v-icon large>mdi-menu</v-icon>
    </v-btn>
    <v-spacer v-show="$vuetify.breakpoint.xsOnly" />
    <v-toolbar-title class="font-weight-bold mr-4">
      <v-img
        src="/logo.png"
        contain
        height="70"
        width="120"
        alt="Hungry?"
      ></v-img>
    </v-toolbar-title>
    <v-spacer v-show="!$vuetify.breakpoint.xsOnly" />

    <v-toolbar-title
      v-show="!$vuetify.breakpoint.xsOnly"
      class="font-weight-bold mr-4"
    >
      <v-slide-y-reverse-transition>
        <span v-show="drawer && !$vuetify.breakpoint.xsOnly"
          >Order Summary</span
        >
      </v-slide-y-reverse-transition>
      <v-btn icon class="ml-2" @click.stop="toggleDrawer">
        <v-icon large>
          {{ drawer ? "mdi-forwardburger" : "mdi-menu" }}
        </v-icon>
      </v-btn>
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Header",
  data: () => ({}),
  computed: {
    ...mapGetters({
      drawer: "app/drawer"
    })
  },
  methods: {
    ...mapActions({
      setDrawer: "app/setDrawer"
    }),
    toggleDrawer() {
      this.setDrawer(!this.drawer);
    }
  }
};
</script>
